<script src="ministatement.component.ts"></script>
<app-navbar></app-navbar>
<div class="container">
  <h2>Your Transaction History</h2>
  <table id=transID class="table table-striped">
    <thead>
    <tr>
      <th>Transaction ID</th>
      <th>My Account Number</th>
      <th>Account Number</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Transaction type</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of this.creditdetails">
      <td>{{item.transid}}</td>
      <td>{{item.acc1no}}</td>
      <td>{{item.acc2no}}</td>
      <td>{{item.amount}}</td>
      <td>{{item.tdate}}</td>
      <td>credited</td>

    </tr>
    <tr *ngFor="let item of this.debitdetails">
      <td>{{item.transid}}</td>
      <td>{{item.acc1no}}</td>
      <td>{{item.acc2no}}</td>
      <td>{{item.amount}}</td>
      <td>{{item.tdate}}</td>
      <td>debited</td>

    </tr>

    </tbody>
  </table>
  <p>
    <button id="btPrint" (click)="createPDF()">Create PDF</button>
  </p>
</div>

