body{
  width:100%;
  background-color:#000000;
  /*background:-webkit-linear-gradient(#82B4D5,#fff);*/
  font-family:'Trebuchet MS';
  /*color:#fff;*/
  height:100vh;
}
.main{
  height:500px;
  width:700px;
  /*border:1px solid #fff;*/
  margin:7% auto;
}
.main div{
  display: inline-block;

  border:none;
}
.main .left{
  width:50%;
  float:left;
  /*border-right:1px solid #fff;*/
  height:100%;
  /*padding:15px 0 0 0;*/
  background-color:rgb(255, 255, 255); /*add background color here*/

  position: relative;
}
.main .right{
  width:50%;
  float:right;
  /*border-right:1px solid #fff;*/
  height:100%;
  /*padding:15px 0 0 0;*/
  background-color:#fff;
  position: relative;
}
.left h1{
  text-align: center;
  /*padding-left:120px;*/
  padding-top:100px;
  margin-bottom: 0;
}
.left p{
  margin-top:0;
  text-align:center;
  color:grey;
}
.left form{
  text-align: center;
}
.left form input{
  text-align:center;
  width:70%;
  height:35px;
  margin-bottom:10px;
  border:none;
  border:1px solid rgb(255, 255, 255); /* edit here, border is any other color for input border!*/
  background-color:rgb(236, 235, 235);
  border-radius:25px;
}
.left form input:focus{
  outline:none;
}
::-webkit-input-placeholder{
  color:grey;
  letter-spacing: 1px;
}

.button1 {
  border-radius: 20px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  background-color:#FFBF37;

  width:70%;
  height:35px;
}
.left p.forgot{
  color:grey;
  font-size:12px;
  padding-top:140px;
}
.left p.or{
  color:grey;
  font-size:15px;
  border:1px solid #f8f8f8;
  width:40px;
  font-weight:200;
  height:30px;
  padding-top:10px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 42%;
  left: 94%;
  z-index:10;
  /*text-align:center;*/
}
/*.left .form{
  border:1px solid;
}*/
.right img {
  border-radius: 8px;
}

.right h1{
  padding-top:100px;
  margin-bottom:10px;
}
.right{
  color:#fff;
}
.right p{
  margin:0;
}
.right .social{
  margin-top:40px;
  width:100%;
}
.social button{
  border:none;
  padding:15px;
  width:50px;
  font-size:18px;
  background-color:rgb(216, 43, 43);
  margin-left:10px;
  margin-right:10px;
  border-radius:50%;
}
.social .twitter{
  color:#55ACEE;
}
.social .facebook{
  color:#012677;
}
.social .google{
  color:#D50F25;
}
.social p{
  font-size:12px;
}
.social p.dont{
  padding-top:165px;
  font-size:12px;
}
.forgot{
  font-size:13px;
  position: relative;
  background-color:transparent;
  border: transparent;
  color: blue;
  position: absolute;
  left: 110px;
  font-size: 12px;
  left: 36%;
  left: 191px;
  top:347px;
  cursor: pointer;
}
.forgot1:hover{
  text-decoration: underline;
}
.forgot1{
  font-size:13px;
  position: relative;
  background-color:transparent;
  border: transparent;
  color: blue;
  position: absolute;
  right: 110px;
  font-size: 12px;
  right: 36%;
  right: 235px;
  top:347px;
  cursor: pointer;
}
.forgot:hover{
  text-decoration: underline;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  align-content: center;

  text-align: center;
  /* top: 305px; */
  top: -12.5px;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 20px;

}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}




.bg {
  /* The image used */
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
