.example-card {
  max-width: 25%;
  margin-top: 10%;
  margin-left: 35%;
  align-content: center;
  z-index: 2px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  z-index: 3px;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,1),
  0 1px 3px 0 rgba(0,0,0,1),
  0 1px 3px 1px rgba(0,0,0,1);
}
